body{
    margin: 0;
    padding: 0;
}
div {
    border: 2px solid black;
    border-radius: 21px;
    padding: 5vh;
    width: 548px;
    height: 151px;
    margin-top: 75px;
    box-shadow: 4px 4px 4px #aaa;
}
a {
    text-decoration: none;
    margin-top: 10px;
    color: black;
}
.style1 {
    border:1px solid black;
    border-radius: 8px;
    margin-top: 8px;
    
}
.style2 {
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 6px;
    background-color: transparent;
    width: 120px;
    height: 30px;
    margin-top:12px;
}
.style2:hover {
    background-color: black;
    color: white;
}